*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.brf
*.pdf
*.fls
*.fdb_latexmk
*.pdfsync
.ipynb_checkpoints/Cursul1-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/Untitled-checkpoint.ipynb
main.tex
Calcule.*
Untitled.ipynb
Untitled1.ipynb
.ipynb_checkpoints/Calcule-checkpoint.ipynb
.ipynb_checkpoints/Logistic-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
